<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eco-Space</title>
</head>
<body>
<header>

        <nav id="nav-container">
            <a th:href="@{home}" class="nav-button">Home</a>
            <a th:href="@{register}" class="nav-button">Register</a>
            <a th:href="@{login}" class="nav-button">Login</a>
            <a th:href="@{contact}" class="nav-button">Contact Us</a>
            <a th:href="@{maintenance}" class="nav-button">Maintenance</a>
            <a th:href="@{design}" class="nav-button">Design</a>
            <a th:href="@{client}" class="nav-button">Client</a>
            <a th:href="@{projects}" class="nav-button">Projects</a>
            <a th:href="@{add-project}" class="nav-button">Add Project</a>
            <a th:href="@{logout}" class="nav-button">Logout</a>


        </nav>
</header>

</body>
</html>