<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco-Space</title>


    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.min.js}"></script>
</head>
<body>
<header>

    <nav id="nav-container">

        <a th:href="@{/maintenance}" class="nav-button">Maintenance</a>
        <a th:href="@{design}" class="nav-button">Design</a>
        <a th:href="@{logout}" class="nav-button">Logout</a>


    </nav>
</header>

</body>
</html>