<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/commons::head}">


</head>
<body>
<div id="main-container">
    <header id="main-header" sec:authorize="hasRole('CLIENT')" th:replace="~{fragments/commons::nav}">
        <h1 id="main-title">EcoSpace Design Services</h1>

    </header>
    <nav sec:authorize="hasRole('ADMIN')" th:replace="~{fragments/admin::nav}">
    </nav>

    <div class="content-section" >
        <h2 class="section-title">Professional Landscape Design Packages</h2>
        <p class="section-text">Choose the perfect design package for your green space project</p>

        <div class="packages-container" >
            <div class="package package-2d-basic"  th:each="design : ${byDesign}">
                <div class="package-header" th:text="${design.namePackage}"></div>
                <div class="package-price">R <span th:text="${design.price}"> </span></div>
                <div class="package-features">
                    <ul class="description-ul" th:text="${design.description}">

                    </ul>
                    <a class="buy-button"
                       sec:authorize="hasRole('CLIENT')"
                            th:href ="@{/payment/{id}(id=*{design.getId()})}">Buy Now</a>

                    <a sec:authorize="!isAuthenticated()"
                       th:href="@{/register}"
                       class="buy-button">
                        Select Plan
                    </a>


                    <p><a  sec:authorize="hasRole('ADMIN')" class="edit-button" th:href="@{edit-subscription/{id}(id=*{design.getId()})}">Edit</a></p>
                    <a  sec:authorize="hasRole('ADMIN')" class="remove-button" th:href="@{/edit-subscription/remove/{id}(id=${design.id})}">Remove Package</a>
                </div>
            </div>


            </div>


        </div>
    </div>

    <footer id="main-footer">
        <p>© 2023 EcoSpace. All rights reserved.</p>
    </footer>
</div>
<script th:src="@{js/client-profile.js}"></script>
</body>
</html>