<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}">


</head>
<body>
<div id="main-container">
    <header id="main-header" th:replace="~{fragments/commons::nav}">
        <h1 id="main-title">EcoSpace Login</h1>

    </header>

    <div class="content-section">
        <h2 class="section-title">Login to Your Account</h2>

        <form class="form-container" th:method="POST" th:action="@{/login}" th:object="${loginDto}">
            <table class="form-table">
                <tr>
                    <td class="form-label">Username:</td>
                    <td><input type="text" class="form-input" th:field="*{username}" required>
                        <div th:each="error: ${#fields.errors()}" th:text="${error}" class="bg-danger text-light rounded"></div>

                    </td>

                </tr>
                <tr>
                    <td class="form-label">Password:</td>
                    <td><input type="password" class="form-input" th:field="*{password}" required>
                        <div th:each="error: ${#fields.errors()}" th:text="${error}" class="bg-danger text-light rounded"></div>

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="form-submit" value="Login">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <footer id="main-footer">
        <p>© 2023 EcoSpace. All rights reserved.</p>
    </footer>
</div>
</body>
</html>