<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<head   th:replace="~{fragments/commons::head}">


</head>
<body>
<div id="main-container">
    <header id="main-header"  sec:authorize="hasRole('CLIENT')" th:replace="~{fragments/commons::nav}">
        <h1 id="main-title">EcoSpace Maintenance Packages</h1>



    </header>
    <nav sec:authorize="hasRole('ADMIN')" th:replace="~{fragments/admin::nav}">
    </nav>

    <div class="content-section"
    >
        <h2 class="section-title">Maintenance Packages</h2>


        <div class="packages-container">
            <div class="package package-2d-basic" th:each="sub : ${maintenanceSubscriptions}">
                <div class="package-header" th:text="${sub.namePackage}" ></div>
                <div class="package-price" >R <span th:text="${sub.price}"></span></div>
                <div class="package-features">
                    <ul class="description-ul" th:text="${sub.description}">

                    </ul>
                    <p class="buy-button" >
                        <a sec:authorize="hasRole('CLIENT')"
                           th:href ="@{/payment/{id}(id=${sub.getId()})}">Buy Now</a>

                        <a sec:authorize="!isAuthenticated()"
                           th:href="@{/register}"
                           class="btn btn-primary">
                            Select Plan
                        </a>

                    <p><a sec:authorize="hasRole('ADMIN')" class="edit-button" th:href="@{/edit-subscription/{id}(id=${sub.getId()})}">Edit</a></p>
                    <p><a  sec:authorize="hasRole('ADMIN')" class="remove-button" th:href="@{/edit-subscription/remove/{id}(id=${sub.getId()})}">Remove Package</a></p>

                </div>
            </div>

            <div class="package package-6d-standard">
                <div class="package-header">6-Month Package</div>
                <div class="package-price">R 6000</div>
                <div class="package-features">
                    <ul>
                        <li>Everything in Monthly Package</li>
                        <li>Bi-weekly detailed inspection</li>
                        <li>Advanced plant care</li>
                        <li>Soil quality testing</li>
                        <li>Fertilization service</li>
                        <li>Pest control management</li>
                        <li>Seasonal planting</li>
                    </ul>
                    <p class="buy-button"><a th:href ="@{login}">Select Plan</a></p>
                    <button class="remove-button">Remove Package</button>
                    <p><a class="edit-button" th:href="@{edit-subscription}">Edit</a></p>
                </div>
            </div>


        </div>

    </div>


    <footer id="main-footer">
        <p>© 2023 EcoSpace. All rights reserved.</p>
    </footer>
</div>
<script th:src="@{js/client-profile.js}"></script>
</body>
</html>