<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Manager Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/manager.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<!-- Side Menu -->
<div id="side-menu">
    <div class="menu-header">
        <h2 class="menu-title">Manager Dashboard</h2>
    </div>
    <div class="menu-buttons">

        <a th:href="@{/home}" class="menu-button">
            <i class="fas fa-arrow-circle-right"></i> HOME
        </a>


        <a th:href="@{/add-subscription}" class="menu-button" style="text-decoration: none; display: block;">
            <i class="fas fa-plus-circle"></i> Add New Subscription
        </a>
        <a   th:href="@{/subscriptions}" class="menu-button">
            <i class="fas fa-list"></i> View Subscriptions
        </a>
        <a th:href="@{/design}" class="menu-button">
            <i class="fas fa-edit"></i> Update Design
        </a>
        <a  th:href="@{/maintenance}" class="menu-button">
            <i class="fas fa-edit"></i> Update Maintenance
        </a>
        <a th:href="@{edit-client}" class="menu-button">
            <i class="fas fa-list"></i> View Clients
        </a>

        <a th:href="@{logout}" class="menu-button">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>
    </div>
</div>

<!-- Main Content -->
<div id="main-container">
    <header id="main-header">
        <h1 id="main-title">Manager Dashboard</h1>
        <h2 id="page-title">Profile Management</h2>
    </header>

    <!-- Profile Section -->
    <section class="content-section">
        <div class="profile-container">
            <div class="profile-image-container">
                <img  id="profile-image"
                      class="profile-image" th:src="${user.getImage() ?: '/images/default-user.jpg'}"  alt="Profile Picture" >

            </div>
            <h2 class="profile-name" th:text="${user.username}">John Manager</h2>
            <p class="section-text" th:text="${user.email}">Senior Manager | Subscription Department</p>
        </div>

        <h3 class="section-title">Personal Information</h3>
        <div class="form-container">

            <a th:href="@{/edit-profile/update/{id}(id=${user.id})}" class="form-submit">Update Profile</a>
        </div>
    </section>

    <footer id="main-footer">
        <p>&copy; 2024 Subscription Manager. All rights reserved.</p>
    </footer>
</div>
</body>
</html>