<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/admin::head}">
</head>
<body>
<div id="main-container">
    <header id="main-header" th:replace="~{fragments/admin::nav}">

    </header>

    <div class="content-section">
        <h2 class="section-title">Subscription Management</h2>

        <div class="project-section">
            <h3 class="section-title">Requested Subscriptions</h3>
            <div class="project-category">
                <table class="project-table">
                    <thead>
                    <tr>
                        <th>Subscription Name</th>
                        <th>Client</th>
                        <th>Start Date</th>
                        <th>Expire Date</th>
<!--                        <th>Edit</th>-->
                    </tr>
                    </thead>
                    <tbody th:each="user : ${allUsers}">
                    <tr th:each="p : ${user.productList}">
                        <td th:text="${p.namePackage}">Subscription Name</td>
                        <td th:text="${user.username}">Client</td>
                        <td th:text="${p.createdOn}">Start Date</td>
                        <td th:text="${p.expired}">Expire Date</td>
<!--                        <td>-->
<!--                            <button class="status-button">Switch Role</button>-->
<!--                     </td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="request">

            </div>
        </div>
    </div>

    <footer id="main-footer">
        <p>© 2025 EcoSpace. All rights reserved.</p>
    </footer>
</div>
</body>
</html>